<div class="col-md-3 offset-md-4 text-center"><hr><hr>
  <h1>{{titleeje1}}</h1>
  <form (ngSubmit)="getDatosBasic()">
    <div class="mb-3">
      <label for="Nameitem" class="form-label">Nombre de producto</label>
      <input type="text" class="form-control" name="name" id="Nameitem" aria-describedby="NameitemHelp" [(ngModel)]="name">
      <div id="NameitemHelp" class="form-text">Nombre de producto que desea ingresar.</div>
    </div>
    <div class="mb-3">
      <label for="Cantitem" class="form-label" >Cantidad del producto</label>
      <input type="number" class="form-control" name="cant" id="Cantitem" aria-describedby="CantitemHelp" min="0" pattern="^[0-9]+" [(ngModel)]="cant">
      <div id="CantitemHelp" class="form-text">Cantidad del producto que desea ingresar.</div>
    </div>
    <div class="mb-3">
      <label for="Codeproitem" class="form-label">Codigo de producto</label>
      <input type="text" class="form-control" name="code" id="Codeproitem" aria-describedby="CodeproitemHelp" [(ngModel)]="code">
      <div id="CodeproitemmHelp" class="form-text">Codigo de producto que desea ingresar.{{name}}, {{cant}}, {{code}}</div>
    </div>
    <div class="mb-3">
      <label for="p@s5item" class="form-label">Password</label>
      <input type="password" class="form-control" id="p@s5item">
    </div>
    <div class="mb-4">
      <input type="checkbox" class="form-check-input" id="Checkitem">
      <label class="form-check-label" for="Checkitem">Check me</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getDatosBasic()">Submit</button>
  </form>
</div>